html,body{
    box-sizing: border-box;
    height: 100%;
}

.img-100{
    height: 100px !important;
    width: 100px !important;
}

.img-75{
    height: 75px !important;
    width: 75px !important;
}

.back-colored{
    min-height: 100%;
    background-color: #ebedc9;
}

.hover-enlarge{
    transition: all 0.1s linear;
}

.hover-enlarge:hover{
    -webkit-transform : scale(1.2);
    color: #212529 !important;
    transform : scale(1.2);
}

.edit-icon{
    cursor: pointer;
}

.fa-icon-container{
    height: 75px;
    width: 75px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
}

.fas.icon-enlarge,.fab.fas.icon-enlarge{
    font-size: 2em;
}

.hover-cursor-pointer{
    cursor: pointer;
}